@import url("./_vars.css");
@import url("./_reset.css");
@import url("./_base.css");
@import url("./_section-cart.css");
@import url("./");
@import url("./");

.header_container {
  // width: 100%;
  // max-height: 350px;
}

.header-menu {
  display: flex;
  justify-content: center;
  height: clamp(9.375rem, 5.966rem + 17.05vw, 18.75rem);
  align-items: center;
  max-width: 1300px;
  max-height: 300px;
}

.nav-menu {
  display: flex;
}

.header-logo {
  font-weight: 400;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 4px;
  color: #0f0d0d;
  text-align: center;
  
}
svg {
  // display: block;
  font: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem) 'Montserrat';
  width: 960px;
  height: clamp(6.25rem, 1.705rem + 22.73vw, 18.75rem);
  margin: 0 0 0px 0;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #4D163D;
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #840037;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: #BD0034;
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: #BD0034;
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: #FDB731;
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}

.banner__container {
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
  p {
    font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.5rem);
    margin-bottom: 60px;
  }
}

// BIG HIT
.bigHit {

}
.section-bigHit {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
  align-items: center;
}
.bigHit-title {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.08rem + 5.23vw, 4rem);
  margin: 0 0 25px 0;
  // color: #FFFFFF;
}
.bigHit-about {
  // max-width: 537px;
}
.bigHit-about p, li, div {
  // max-width: 700px;
  margin-bottom: 20px;
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.bigHit-info {
  max-width: 537px;
  // align-items: flex-start;
    p {
    margin-bottom: 15px;
    }
      li {
        margin-top: 5px;
    }
}
.bigHit-image img {
  border-radius: 25px;
  // max-width: 703px;
  width: 100%;
  max-width: 700px;
  

}


//  NABIS

.nabis {

}
.section-nabis {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
  align-items: center;
}
.nabis-title {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.08rem + 5.23vw, 4rem);
  margin: 0px 0px 25px 0px;
  // color: #FFFFFF;
}
// .nabis-about {

// }
.nabis-about p, li, div {
  // max-width: 700px;
  margin-bottom: 20px;
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.nabis-info {
  p {
    margin-bottom: 15px;
  }
  li {
    margin-top: 5px;
  }
}
.nabis-image {
  display: flex;
  align-items: center;
  img {
  border-radius: 25px;
  }
}

// BODY DANCE
.bodyDance {
  align-items: center;

}
.section-bodyDance {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
  align-items: center;
}
.bodyDance-title {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.08rem + 5.23vw, 4rem);
  margin: 25px 0;
  // color: #FFFFFF;
}
// .nabis-about {

// }
.bodyDance-about p, li, div {
  // max-width: 700px;
  margin-bottom: 20px;
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.bodyDance-info {
  max-width: 537px;
  p {
    margin-bottom: 15px;
  }
  li {
    margin-top: 5px;
  }
}
.bodyDance-image img {
  border-radius: 25px;

  // margin: 0 auto;
}
// THE HITS

.theHits {
  align-items: center;
  display: flex;

}
.section-theHits {
  display: flex;
  margin-bottom: 25px;
  gap: 30px;
  align-items: center;
}
.theHits-title {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.08rem + 5.23vw, 4rem);
  margin: 0 0 25px 0;
  // color: #FFFFFF;
}
// .nabis-about {

// }
.theHits-about p, li, div {
  // max-width: 700px;
  margin-bottom: 20px;
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.theHits-info {
  max-width: 537px;
  
  p {
    margin-bottom: 15px;
    
  }
  li {
    margin-top: 5px;
  }
}
.theHits-image img {
  border-radius: 25px;

}

// THE CLAPS

.theClaps {
  align-items: center;
  display: flex;

}
.section-theClaps {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
  align-items: center;
}
.theClaps-title {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.08rem + 5.23vw, 4rem);
  margin: 0px 0px 25px 0px;
  // color: #FFFFFF;
}
// .nabis-about {

// }
.theClaps-about p, li, div {
  // max-width: 700px;
  margin-bottom: 20px;
  font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.theClaps-info {
  max-width: 537px;
  p {
    margin-bottom: 15px;
  }
  li {
    margin-top: 5px;
  }
}
.theClaps-image img {
  border-radius: 25px;

}

.footer-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  
}
.footer-title { 
  // padding-top: 15px;
  font-size: 34px;
}
.footer-info p {
  font-size: 18px;
}
.footer-year {
}
// TABLET

@media screen and (max-width: 980px) {
  .section-bigHit, .section-theHits, .section-bodyDance, .section-nabis, .section-theClaps {
  display: flex;
  flex-direction: column;
  } 
}